html, body {
  margin: 0px;
}

.widget {
  position: absolute;
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.widget-header {
  background-color: gray;
  text-align: right;
}

.hidden {
  display: none;
}

.link {
  position: absolute;
  border: 1px black solid;
  -webkit-transform-origin: 0 0;
}

#home li:after {
  content: ','
}

#home li:last-of-type:after {
  content:'.'
}
