html, body {
  margin: 0px;
}

/* base color used in topbar */
$basecolor: #AD141E;

#topbar {
  height:54px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: $basecolor;
  margin:4px;
}

#topleft {
  a {
    color:lighten($basecolor,40%);
    font-size: 130%;
  }
}

#main-area {
  position: absolute;
  top:54px;
}

.widget {
  position: absolute;
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.widget-header {
  background-color: gray;
  text-align: right;
}

.hidden {
  display: none;
}

.link {
  position: absolute;
  border: 1px black solid;
  -webkit-transform-origin: 0 0;
}

#home li:after {
  content: ','
}

#home li:last-of-type:after {
  content:'.'
}


.avatar {

  &.small {
    width: 20px;
    height: 20px;
  } 

  &.large {
    width: 50px;
    height: 50px;
    margin: 2px;
  }

}